<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--< REPORT - Config Values for Extent Report >-->
		<add key="Project" value="Single Pipeline"/>

		<!--< ENVIRONMENT - Config Values for Test Initialisation >-->
		
		<!-- tst | dev | usr | train | pro -->
		<add key="Env" value="tst"/>

		<!--< BASE URL for Dynamics API>-->
		<add key="DynamicsBaseURL" value="https://pipelinetest.crm11.dynamics.com/api/data/v9.0"/>
		
		<!--< BASE URLs - Base URLs for Test Environment>-->
		<add key="TABaseTst" value="https://prod-07.uksouth.logic.azure.com:443/workflows/a3a52c1603bd4a3282037f9aa2389e1e/triggers/manual/paths/invoke"/>
		<add key="LABaseTst" value="https://prod-11.uksouth.logic.azure.com:443/workflows/0ee598b6ad08458b987c7763cfd50fab/triggers/manual/paths/invoke"/>
		<add key="PartnerBaseTst" value="https://prod-24.uksouth.logic.azure.com:443/workflows/fbad12ce66394a6984799d871940bee3/triggers/manual/paths/invoke"/>
		<add key="ContactBaseTst" value="https://prod-17.uksouth.logic.azure.com:443/workflows/a040da1faead44eaaa1a1e8d3c7b02df/triggers/manual/paths/invoke"/>
		<add key="PartnerOppBaseTst" value="https://prod-09.uksouth.logic.azure.com:443/workflows/f37ba98647c64acaa12a1f7f14ce6c27/triggers/manual/paths/invoke"/>
		<add key="SiteBaseTst" value="https://prod-27.uksouth.logic.azure.com:443/workflows/40184d8466e849a593482027b5eafcde/triggers/manual/paths/invoke"/>
		<add key="PlaceOppBaseTst" value="https://prod-03.uksouth.logic.azure.com:443/workflows/cbc6105b50b040aebd57d72fe8317560/triggers/manual/paths/invoke"/>
		<add key="APPOBaseTst" value="https://prod-06.uksouth.logic.azure.com:443/workflows/1ac7ce17a87c40fe8c605b263cfb8bd7/triggers/manual/paths/invoke"/>
		<add key="APPBaseTst" value="https://prod-28.uksouth.logic.azure.com:443/workflows/e24f442ca00047d68368697179f16922/triggers/manual/paths/invoke"/>

		<!--< BASE URLs - Base URLs for Dev Environment>-->
		<add key="TABaseDev" value="https://prod-22.uksouth.logic.azure.com:443/workflows/da9a4c57a94043e7bd9a5bdfcd2062da/triggers/manual/paths/invoke"/>
		<add key="LABaseDev" value="https://prod-09.uksouth.logic.azure.com:443/workflows/79b50362c84c48198cef3c869ac0b835/triggers/manual/paths/invoke"/>
		<add key="PartnerBaseDev" value="https://prod-19.uksouth.logic.azure.com:443/workflows/e78acb0c0fdc4920bc3e02d8ebd3886f/triggers/manual/paths/invoke"/>
		<add key="ContactBaseDev" value="https://prod-24.uksouth.logic.azure.com:443/workflows/5ecfd55e342c4fcca337d97530d9f0e5/triggers/manual/paths/invoke"/>
		<add key="PartnerOppBaseDev" value="https://prod-11.uksouth.logic.azure.com:443/workflows/0219b58af1854f0187ffde7a4371030e/triggers/manual/paths/invoke"/>
		<add key="SiteBaseDev" value="https://prod-12.uksouth.logic.azure.com:443/workflows/a9c0e8b2b6cf4422bfb6b19e0c629e81/triggers/manual/paths/invoke"/>
		<add key="PlaceOppBaseDev" value="https://prod-27.uksouth.logic.azure.com:443/workflows/41e0113007c7406cae10dbbffb8bded8/triggers/manual/paths/invoke"/>
		<add key="APPOBaseDev" value="https://prod-00.uksouth.logic.azure.com:443/workflows/f6a51d2c465948cb9a8aa5573b05976f/triggers/manual/paths/invoke"/>
		<add key="APPBaseDev" value="https://prod-22.uksouth.logic.azure.com:443/workflows/cebb40b6bb074a7aa200bfa0d3dd1992/triggers/manual/paths/invoke"/>
		
		<!--< TOKENs - Access tokens for Dev Environment >-->
		<add key="TATokenDev" value="6_KihM5Z1MEJbtH_uW-j6QZIV4QbL55hd11HObecY"/>
		<add key="LATokenDev" value="30OCeLn2q_b8q-gbXAeStSsbKQdugjLNcrRHJ1i1I"/>
		<add key="PartnerTokenDev" value="1oo4CN4ukZOQ16wR5qRmQpQr0hJeJRkyepffPhhzo"/>
		<add key="ContactTokenDev" value="fjRDaP2fNZLqM2NVVkVIB_RpkXTYtAA8oENA6qmFg"/>
		<add key="PartnerOppTokenDev" value="wE1fvxtWTSQnwdsOJFCKslXiNYlLZLMSv0GGeHhrU"/>
		<add key="SiteTokenDev" value="oAoCqXlTDY5e-AIE3JXe3PSmJcxOJW2wEX8mLQmZE"/>
		<add key="PlaceOppTokenDev" value="mcNfV68dme7s9t7PW4igL2LO8CdbjlhZ38ub8Mlyg"/>
		<add key="APPOTokenDev" value="5-ZnxLZ00Q_BdgPaUkzlqUtjvJlu4XCP7kwOgSoAg"/>
		<add key="APPTokenDev" value="v39DMqzQ6u4w741pj-189UuednyXflBL4FrA0C3aQ"/>
		<add key="InvalidTokenDev" value="w39DMqzQ4w74pX1pj-189UuednyXflBL4FrA0C3aR"/>

		<!--< TOKENs - Access tokens for Test Environment >-->
		<add key="TATokenTst" value="xWhHgvFS9C9yzrAeW_sCEgmnBeB9DRXnMXcrlBnWA"/>
		<add key="LATokenTst" value="ptecHYTDNxSRay8tVRp3Zy9r5Cgvz4yR7FP_qxVbo"/>
		<add key="PartnerTokenTst" value="4MKQWZSoL_UwI_6SUG3u45Hic8Hl548cRqSfCXAYw"/>
		<add key="ContactTokenTst" value="kkwoVS9rCVTRa-5vDYoaojYEYhOTnYlgZDODf2M_s"/>
		<add key="PartnerOppTokenTst" value="g0gVTABkT5DGisNbWwOeerwj9s7VXQLZE9QFlFNiM"/>
		<add key="SiteTokenTst" value="cerKdIWI8DDfFWS1P_7WMxNxtRiqfZwNIwZF-ZEHU"/>
		<add key="PlaceOppTokenTst" value="fIAS4TM6cd0kQ1TA-IFgRXRkrZ4Fz9EHdMh5wlWTE"/>
		<add key="APPOTokenTst" value="3wf2VGfE_hBy2XCWAp4f_3zWCkHHl__lVZFF4RDmA"/>
		<add key="APPTokenTst" value="6rB3bU8FSb0T-LTZPqkDfO6A6TKbnmkcJGMjdGKso"/>
		<add key="InvalidTokenTst" value="7rB3bU8FSb0T-LTZkDfOaN6A6TKbnmkcJGMjdGKsp"/>
	</appSettings>
</configuration>