<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--< REPORT - Config Values for Extent Report >-->
		<add key="Project" value="Single Pipeline"/>

		<!--< ENVIRONMENT - Config Values for Test Initialisation >-->
		
		<!-- tst | dev | usr | train | pro -->
		<add key="Env" value="dev"/>

		<!--< BASE URL for Dynamics API>-->
		<add key="DynamicsBaseURL" value="https://xy.com/api/data/v9.0"/>
		
		<!--< BASE URLs - Base URLs for Test Environment>-->
		<add key="APPBaseTst" value="https://xyz.logic.azure.com:443/workflows//triggers/manual//"/>

		<!--< BASE URLs - Base URLs for Dev Environment>-->
	
		<!--< TOKENs - Access tokens for Dev Environment >-->
		<add key="TATokenDev" value="-j6QZIV4QbL55hd11HObecY"/>
		<add key="LATokenDev" value="-gbXAeStSsbKQdugjLNcrRHJ1i1I"/>
		
		<!--< TOKENs - Access tokens for Test Environment >-->
		<add key="TATokenTst" value=""/>
		<add key="LATokenTst" value=""/>
	</appSettings>
</configuration>
